In [1]:
import numpy as np
import pandas as pd

def hex32(x):
    return format(x, '08x')
hex32 = np.vectorize(hex32)

In [2]:
df = pd.DataFrame({**{"BX":np.arange(3564)},**{f'RX_DATA_{i}':np.zeros(3564,dtype=int) for i in range(12)}})

for i in range(12):

    # transmit link number and count
#     df[f'RX_DATA_{i}'] = ((10<<28)+(i<<16) + df.BX).astype(int)

#     #transmit 7 bit BX counter on all links 
    x = ((df.BX)%128).values
    x[df.BX > 1000] = 0
    df[f'RX_DATA_{i}'] = ((10<<28)+(x<<21) + (x<<14) + (x<<7) + x).astype(int)

    #transmit 7 bit BX counter on all links, but each counter is offset by 2 from previous TC
    #x0 = ((df.BX + 8*i)%128).values
   # x1 = ((df.BX + 8*i +2)%128).values
   # x2 = ((df.BX + 8*i +4)%128).values
   # x3 = ((df.BX + 8*i +6)%128).values
   # df[f'RX_DATA_{i}'] = ((10<<28)+(x0<<21) + (x1<<14) + (x2<<7) + x3).astype(int)

#     #random TC data, from exponential
#     x = np.random.exponential(10,3564*4).astype(int).reshape(3564,4)
#     x[x>127]=127
#     df[f'RX_DATA_{i}'] = ((10<<28)+(x[:,0]<<21) + (x[:,1]<<14) + (x[:,2]<<7) + x[:,3]).astype(int)
    
    
df.drop('BX',axis=1,inplace=True)
df.loc[0] = df.loc[0] - (1<<28)
df[df.columns] = hex32(df)

In [3]:
df.to_csv('testInput.csv',index=False)

In [4]:
df

,RX_DATA_0,RX_DATA_1,RX_DATA_2,RX_DATA_3,RX_DATA_4,RX_DATA_5,RX_DATA_6,RX_DATA_7,RX_DATA_8,RX_DATA_9,RX_DATA_10,RX_DATA_11
0,90000000,90000000,90000000,90000000,90000000,90000000,90000000,90000000,90000000,90000000,90000000,90000000
1,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081,a0204081
2,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102,a0408102
3,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183,a060c183
4,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204,a0810204
...,...,...,...,...,...,...,...,...,...,...,...,...
3559,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000
3560,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000
3561,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000
3562,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000
3563,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000,a0000000